@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "List of Roles";
}

<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
    <table class="table">
        <tr>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>

                <td>
                    @*@Html.ActionLink("Edit", "Update", new { id = item.ItemId }) |
                        @Html.ActionLink("Details", "Get", new { id = item.ItemId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })*@
                </td>
            </tr>
        }
    </table>
</div>