@model IEnumerable<BontoBuy.Web.Models.UserRoleViewModel>

@{
    ViewBag.Title = "Manage Roles";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="col-md-9">
    <h2>@ViewBag.Title</h2>
        <div>
            @Html.ActionLink("Create Role", "Create")
            <hr />
            @Html.ActionLink("Edit Role", "Edit")
            <hr />
            @Html.ActionLink("Retrieve Roles", "Retrieve")
            <hr />
        </div>

</div>
