@model IEnumerable<BontoBuy.Web.Models.UserRoleViewModel>

@{
    ViewBag.Title = "List of Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="col-md-9">
    <div class="container">
        <div>
            @Html.ActionLink("Create Role", "Create")
            <hr />
            @Html.ActionLink("Edit Role", "Edit")
            <hr />
            @Html.ActionLink("Retrieve Roles", "Retrieve")
            <hr />
        </div>
    </div>
</div>
