.side-nav {
    position: fixed;
    top: 51px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    /*overflow-y: auto;*/
    background-color: #222;
    bottom: 0;
    /*overflow-x: hidden;*/
    padding-bottom: 40px;
    right: 0;
    left: auto;
}

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav .active a {
        cursor: default;
        background-color: #1be6d4;
        color: #1be6d4;
        text-shadow: 1px 1px 1px #666;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }

    .side-nav > li > ul {
        padding: 0;
    }

        .side-nav > li > ul > li > a {
            display: block;
            padding: 10px 15px 10px 38px;
            text-decoration: none;
            color: #999;
            background-color: #000;
        }

            .side-nav > li > ul > li > a:hover {
                color: #000;
            }

#containerCustom {
    margin-top: 40px;
    width: auto;
}

.dropdown-menu li a:hover {
    background-color: #000;
}