body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    background-image: url(Background3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }

        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }

            .mega-dropdown-menu > li > ul > li > a {
                display: block;
                color: #222;
                padding: 3px 5px;
            }

    .mega-dropdown-menu > li ul > li > a:hover,
    .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
        font-style: oblique;
        background-color: #99cccc;
    }

    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

/*CSS For Index*/
.btn-product {
    width: 100%;
}

#myCarousel {
    background: transparent;
    margin-top: 20px;
    height:115%;
}

    #myCarousel .item img {
        margin: 0 auto;
        width: 600px;
        height: 250px;
    }

    
.slideshow {
    margin: 20px;
}

#Logo {
    margin-top: -15px;
    margin-bottom: -40px;
    margin-right: -13px;
}

.navbar {
    border-radius: 5px;
}

.nav-sidebar {
    width: 100%;
    /*padding: 8px 2px;*/
    margin-left: 25px;
    border: 1px solid #ddd;
}

    .nav-sidebar a {
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .nav-sidebar .active a {
        cursor: default;
        background-color: #428bca;
        color: #fff;
        text-shadow: 1px 1px 1px #666;
    }

        .nav-sidebar .active a:hover {
            background-color: #428bca;
        }

.nav li a:hover {
    background-color: #999999;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.mega-sidebar {
    position: static !important;
}

.mega-sidebar-menu {
    padding: 20px 0px;
    width: 400%;
    box-shadow: none;
    -webkit-box-shadow: none;
    left: 158px;
    top: -3px;
}

    .mega-sidebar-menu > li > ul {
        padding: 0;
        margin: 0;
    }

        .mega-sidebar-menu > li > ul > li {
            list-style: none;
        }

            .mega-sidebar-menu > li > ul > li > a {
                display: block;
                color: #222;
                padding: 3px 5px;
            }

    .mega-sidebar-menu > li ul > li > a:hover,
    .mega-sidebar-menu > li ul > li > a:focus {
        text-decoration: none;
        font-style: oblique;
        background-color: #99cccc;
    }

    .mega-sidebar-menu .sidebar-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }

.container-fluid {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    padding: 25px;
}

.container {
    margin-top: 25px;
    background: #fff;
    max-height: inherit;
}

.btn-circle {
    height: 32px;
    text-emphasis-position: above;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 20px;
}

.style_featured {
    padding: 20px 0;
    text-align: center;
}

    .style_featured > div > div {
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: 0.5s;
    }

    .style_featured > div:hover > div {
        margin-top: +19px;
        border: 1px solid rgb(153, 200, 250);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 9px 9px;
        background: rgba(153, 200, 250, 0.1);
        transition: 0.99s;
    }

.col-item {
    border: 2px solid #ddd;
    border-radius: 5px;
    background: #FFF;
}

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }

    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    .col-item:hover .info {
        background-color: rgba(215, 215, 244, 0.5);
    }

    .col-item .price {
        /*width: 50%;*/
        float: left;
        margin-top: 5px;
    }

        .col-item .price h5 {
            line-height: 20px;
            margin: 0;
        }

.price-text-color {
    color: #00990E;
}

.col-item .info .rating {
    color: #003399;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #FFCCCC;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .col-item .separator p i {
        margin-right: 5px;
    }

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #CC9999;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}

/**--Footer CSS--**/
.body-content {
    padding-bottom: 20px;
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: -25px;
    z-index: 1030;
}

    .footer h3 {
        border-bottom: 1px solid #BAC1C8;
        color: #54697E;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        padding: 40px 0 10px;
        text-transform: uppercase;
    }

    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #7F8C8D;
    }

        .footer ul li a {
            padding: 0 0 5px 0;
            display: block;
        }

    .footer a {
        color: #78828D;
    }

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

    .social li:hover {
        transform: scale(1.15) rotate(360deg);
        -webkit-transform: scale(1.1) rotate(360deg);
        -moz-transform: scale(1.1) rotate(360deg);
        -ms-transform: scale(1.1) rotate(360deg);
        -o-transform: scale(1.1) rotate(360deg);
    }

    .social li a {
        color: #EDEFF1;
    }

    .social li:hover {
        border: 2px solid #2c3e50;
        background: #2c3e50;
    }

    .social li a i {
        font-size: 16px;
        margin: 0 0 0 5px;
        color: #EDEFF1 !important;
    }

.footertext {
    color: #000000;
}

.footerContainer {
    background-color: #E3E3E3;
    border-top: 1px solid #000000;
}

.footer-bottom {
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .footer-bottom p.pull-left {
        padding-top: 6px;
    }

.payments {
    font-size: 1.5em;
}

        .border {
            border: 1px solid #ddd;
        }