 #sidebar {
            margin-left: -80px;
        }

 #Logo {
    margin-top: -15px;
    margin-bottom: -40px;
    margin-right: -13px;
}

 .footer-bottom {
            border-top: 1px solid #DDDDDD;
            position: relative;
            bottom: 0;
            z-index: 1030;
            height: 10%;
            margin-top: 80px;
        }

        .footerContainer {
            background-color: #E3E3E3;
        }

        .footer-bottom p.pull-left {
            /*padding-top: 6px;*/
        }

        .payments {
            font-size: 15px;
        }

        .border {
            border: 1px solid #ddd;
        }


        /* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}