@model BontoBuy.Web.Models.BrandViewModel

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Get";
}

<div class="col-md-9">
    <h2>Get</h2>
    <div>
        <h4>Brand</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Update", new { id = Model.BrandId }) |
        @Html.ActionLink("Back to List", "Retrieve")
    </p>
</div>