@using Microsoft.AspNet.Identity
@using BontoBuy.Web.Models

@if (Request.IsAuthenticated)
{
    Name userName = new Name();
    var UserId = User.Identity.GetUserId();
    var name = userName.GetName(UserId.ToString());
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span>Hello  @name <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-cart" role="menu">
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-edit"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i>Log off</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}