@model BontoBuy.Web.Models.PhotoViewModel

@{
    Layout = "~/Views/Shared/SupplierLayout.cshtml";
    ViewBag.Title = "Add Photos";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;"/>
    <input type="submit" value="Upload" class="submit"/>
}