@model BontoBuy.Web.Models.PhotoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;"/>
    <input type="submit" value="Upload" class="submit"/>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>